:root{
    --border-radius: 5px;
    --default-background: rgb(196, 196, 196, 0.5);
}

body {
    background-color: rgb(255, 241, 214);
}

#content {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#options {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius);
}
#options > .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button {
    border: none;
    border-radius: var(--border-radius);
    padding: 1em;
}

.activeButton {
    background-image: linear-gradient(to bottom right, rgb(255, 235, 214), rgb(255, 233, 214));
}

#heading {
    background-color: var(--default-background);
    border-radius: var(--border-radius);
    padding: 0.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

#options {
    background-color: var(--default-background);

}

#container {
    width: 512px;
    height: 512px;
    border-radius: var(--border-radius);
}
.row {
   display: flex;
   border-radius: var(--border-radius);
}
.row > div {
    background-color: var(--default-background);
}

.row:last-child > div:last-child{
    border-bottom-right-radius: var(--border-radius);
}
.row:last-child > div:first-child{
    border-bottom-left-radius: var(--border-radius);
}
.row:first-child > div:first-child{
    border-top-left-radius: var(--border-radius);
}
.row:first-child > div:last-child{
    border-top-right-radius: var(--border-radius);
}

.broken {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}